<h1>PRUEBA MAERSK</h1>
<div class="container">
  <div class="row">
    <span class="col-6">
      <p>Caja Texto</p>
    </span>
    <span class="col-6">
      <textarea id="PruebaCajaTexto" (click)="HabilitarBoton()"></textarea>
    </span>
  </div>
  <div class="row mb-3">
    <span class="col-6">
      <p>Caja Numérica</p>
    </span>
    <span class="col-6">
      <input id="PruebaCajaNumerica" (click)="HabilitarBoton()" type="number" />
    </span>
  </div>
  <div class="row mb-3">
    <span class="col-6">
      <p>Selector</p>
    </span>
    <span class="col-6">
      <select id="PruebaSelect" (click)="HabilitarBoton()">
        <option disabled selected value="">-- select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </span>
  </div>

  <p>Buenas Tardes Luffy</p>
  <button id="BotonDatos" disabled>Enviar Datos</button>
</div>
